<div class="container">
    <div class="aside">

        <h1 class="logo">÷ SwiftList</h1>

        <div class="tabs">
            <a class="tab" routerLink="/tasks" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <title>checkbox-multiple-marked-outline</title>
                    <path
                        d="M20,16V10H22V16A2,2 0 0,1 20,18H8C6.89,18 6,17.1 6,16V4C6,2.89 6.89,2 8,2H16V4H8V16H20M10.91,7.08L14,10.17L20.59,3.58L22,5L14,13L9.5,8.5L10.91,7.08M16,20V22H4A2,2 0 0,1 2,20V7H4V20H16Z" />
                </svg>Tasks</a>
        </div>

        <div class="user">
            <div class="details">
                <h4 class="name">{{ name }}</h4>
                <p class="email">{{ email }}</p>
            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" (click)="logout()">
                <title>logout</title>
                <path
                    d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" />
            </svg>
        </div>

    </div>

    <div class="main">

        <div class="header">
            <h1 class="greeting">Welcome back, {{ greeting }}!</h1>

            <button (click)="openDialog()">+ New Task</button>
        </div>

        <div class="cards">
            <div class="card" *ngFor="let task of tasks">
                <h2>{{ task.title }}</h2>
                <p>{{ task.description }}</p>

                <div class="line"></div>

                <button [ngClass]="{'completed': task.isCompleted}" (click)="changeCompletion(task)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>checkbox-outline</title>
                        <path
                            d="M19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,5V19H5V5H19M10,17L6,13L7.41,11.58L10,14.17L16.59,7.58L18,9" />
                    </svg>
                    <h4>
                        {{ task.isCompleted ? 'Completed' : 'Mark as completed' }}
                    </h4>
                </button>
            </div>
        </div>

    </div>
</div>